// *----------------------------------*\
//  Fonts > Montserrat
// *----------------------------------*/

@mixin FontMontserrat($weight, $with_italic: 0) {
    $file-name: 'Montserrat';
    $file-name-italic: 0;


    @if($weight == 100) {
        $file-name: 'Montserrat-Thin';
    }
    @else if($weight == 200) {
        $file-name: 'Montserrat-ExtraLight';
    }
    @else if($weight == 300) {
        $file-name: 'Montserrat-Light';
    }
    @else if($weight == 400) {
        $file-name: 'Montserrat-Regular';
        $file-name-italic: 'Montserrat-Italic';
    }
    @else if($weight == 500) {
        $file-name: 'Montserrat-Medium';
    }
    @else if($weight == 600) {
        $file-name: 'Montserrat-SemiBold';
    }
    @else if($weight == 700) {
        $file-name: 'Montserrat-Bold';
    }
    @else if($weight == 800) {
        $file-name: 'Montserrat-ExtraBold';
    }
    @else if($weight == 900) {
        $file-name: 'Montserrat-Black';
    }

    @include AddFontFace('Montserrat', $weight, $file-name);

    @if($with_italic == 1) {
        @if $file-name-italic == 0 {
            $file-name-italic: $file-name + 'Italic';
        }
        @include AddFontFace('Montserrat', $weight, $file-name-italic, 'italic')
    }
}
